@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Roboto+Slab:wght@100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px; 
  min-height: 500px; 
}

p {
  font-size: 1.6rem;
  color:rgba(7, 5, 5, 0.5);
 
}

h1 {
  font-size: 6rem;
  display: flex;
  align-items: center;
}

h2 {
  font-size: 2.0rem;
  color: rgba(7, 5, 5, 0.5);
}

h3 {
  font-size: 2.5rem;
  color: rgba(7, 5, 5, 0.5);
}


.app{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0, 4);
  background: url('./assets/background2.jpg') no-repeat center/cover;
  color: #fff;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: #f8f8f8;
}

::placeholder {
  color: rgba(7, 5, 5, 0.5);
}

.container {
  max-width: 1000px;
  height: 600px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 5%;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}

.app .top {
  display: flex;
  flex-direction: row;
}
.app .left {
  width: 100%;
  padding-left: 35px;
  padding-top: 40px;
}

.app .right {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 120px;
  padding-left: 250px;
  width: 100%;
  border-radius: 12px;
}

.bold{
  padding: 5px;
  font-weight: 500;
  font-size: 20px;
}

.bottom .days{
  display: flex;
  flex-direction: row;
  height: 250px;
  margin-bottom: 25px;
}
.day {
  width: 150px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.desc {
  padding: 5px;
  font-size: 15px;
  font-weight: 800;
}

.icon {
  font-size: 100px;
  width: 100%;
  padding-top: 15px;
  color: rgba(7, 5, 5, 0.5);
}

.error-msg{
  padding: 45px;
  font-size: 30px;
  font-weight: 700;
}

.icon-big{
  font-size: 120px;
  padding: 15px;
  margin-left: 35px;
  margin-top: 10px;
  color: rgba(53, 41, 41, 0.5);
}

.date {
  padding-top: 10px;
  font-weight: 400;
  font-size: 18px;
}
